html,
body {
  height: 100%;
}

header {
  background-image: url("../img/castelo.jpg");
  background-size: cover;
  background-position: top center;
  height: 100%;
  position: relative;
}

header h1 {
  margin: 0 auto;
}

footer {
  color: #fff;
  background-color: #333;
  padding: 1em;
  margin-top: 10px;
}

footer address:last-child {
  margin-bottom: 0;
}

#paineis-sobre {
  margin-top: 20px;
}

.topCasaFina-Banner {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms;
}

.titulo-depoimentos {
  background-color: #0275d8;
  padding: 25px 10px;
  color: #ffffff;
  margin-bottom: 0;
  font-size: 24px;
}

.grupo-radio,
.contato-select {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.grupo-radio .radio:first-child {
  margin-top: 0;
}

.div_wrapper {
  white-space: nowrap;
}

.mb-0 {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .projeto {
    width: 48%;
    float: left;
  }

  #paineis-sobre {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .topCasaFina-Banner {
    left: 0;
    transform: translate(0, -80%);
    width: 50%;
  }

  .topCasaFina-BannerWrapper {
    height: 100%;
    position: relative;
  }
}
